<html data-th-fragment="frag-layout(title, content)">
<head>
    <meta charset="ISO-8859-1">
    <!--  la abalise sera remplacée par le contenu de title -->
    <title data-th-replace="${title}"></title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/general.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=DM+Mono&display=swap">
</head>
<body>
<header>
    <h1 data-th-if="${!#authorization.expression('isAuthenticated()')}" id="nav-title">ENI encheres</h1>
    <a data-th-if="${#authorization.expression('isAuthenticated()')}" href="/"><h1 id="nav-title">ENI encheres</h1></a>
    <nav class = "nav-menu">
        <div class = "menu-container">
            <div class = "menu" data-th-if="${!#authorization.expression('isAuthenticated()')}"><a href="/register">s'inscrire</a></div>
            <div class="menu" data-th-if="${!#authorization.expression('isAuthenticated()')}">/</div>
            <div class = "menu" data-th-if="${!#authorization.expression('isAuthenticated()')}"><a href="/login">se connecter</a></div>
            <div class = "menu" data-th-if="${#authorization.expression('isAuthenticated()')}"><a href="/my-profile">mon profil</a></div>
            <div class="menu" data-th-if="${#authorization.expression('isAuthenticated()')}">/</div>
            <div class = "menu" data-th-if="${#authorization.expression('isAuthenticated()')}"><a href="/add-article">nouvel article</a></div>
            <div class="menu" data-th-if="${#authorization.expression('isAuthenticated()')}">/</div>
            <div class = "menu" data-th-if="${#authorization.expression('hasRole(''ADMIN'')')}"><a href="/admin"> espace administrateur</a></div>
            <div class="menu" data-th-if="${#authorization.expression('hasRole(''ADMIN'')')}">/</div>
            <div class = "menu" data-th-if="${#authorization.expression('isAuthenticated()')}"><a href="/logout">deconnection</a></div>
        </div>
    </nav>
</header>

<main data-th-replace="${content}"></main>

<footer>
    <p>&copy; ENI - all right reserved</p>
</footer>
<!--<div data-th-text="${#authentication.getPrincipal()}"></div>-->
<script th:src="@{/js/script.js}"></script>
</body>
</html>