<html data-th-fragment="frag-layout(title, content)">
<head>
    <meta charset="ISO-8859-1">
    <!--  la abalise sera remplacée par le contenu de title -->
    <title data-th-replace="${title}"></title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/general.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
</head>
<body>
<header>
    <h1 data-th-if="${!#authorization.expression('isAuthenticated()')}" id="nav-title">ENI-Encheres</h1>
    <a data-th-if="${#authorization.expression('isAuthenticated()')}" href="/"><h1 id="nav-title">ENI-Encheres</h1></a>
    <nav>
        <ul>
            <li data-th-if="${!#authorization.expression('isAuthenticated()')}"><a href="/register">S'enregistrer</a></li>
            <li data-th-if="${!#authorization.expression('isAuthenticated()')}"><a href="/login">Se Connecter</a></li>
            <li data-th-if="${#authorization.expression('isAuthenticated()')}"><a href="/my-profile">Mon profil</a></li>
            <li data-th-if="${#authorization.expression('isAuthenticated()')}"><a href="/add-article">Ajouter un article</a></li>
            <li data-th-if="${#authorization.expression('hasRole(''ADMIN'')')}"><a href="/admin">Espace administrateur</a></li>
            <li data-th-if="${#authorization.expression('isAuthenticated()')}"><a href="/logout">Se Deconnecter</a></li>
        </ul>
    </nav>
</header>

<main data-th-replace="${content}"></main>

<footer>
    <p>&copy; ENI - all right reserved</p>
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<script th:src="@{/js/script.js}"></script>
</body>
</html>