@charset "UTF-8";




.menu-container{
    display: flex;
    justify-content: space-evenly;
}
@media (min-width:800px){
    .menu-container{
        justify-content: end;
    }
}

.menu{
    margin: 0 10px;
}
.menu a{
    color: #2D1D38;
    font-size: 12px;
    margin: 0;
}

@media(min-width: 780px){
    .menu a{
        font-size: 16px;
    }
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica;
    min-height: 100%;
}

button>a{
    text-decoration: none;
    color: #fff;
}

/* Header */
header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 50px;
    z-index: 1;
}
@media (min-width:800px){
    header{
        flex-direction: row;
        justify-content: space-between;
    }

}

.nav-menu{
    width: 100%;
}

#nav-title {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 15px;
    color: #2D1D38;
    width: 300px;
}

header a {
    text-decoration: none;
    transition: all 0.3s ease 0s;
    color: #2D1D38;
}

header a:hover {
    color: rgb(0, 128, 192);
}

main {
    flex: 1;
}

main h1 {
    margin: 10px;
}

h1 {
    font-size: 15px;
}

h2 {
    font-weight: bold;
}

footer {
    background-color: #777;
    padding: 10px;
    text-align: center;
    color: white;
    height: 35px;
    position: relative;
    bottom: 0;
    width: 100%;
}


:root {
    --primary-color: #2D1D38;
    --secondary-color: #DE6438;
    --tertiary-color: #D3EBEB;
    --background-color: #F5F5F5;
}

/* Styles de base */
body {
    font-family: 'DM Mono', monospace;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    color: var(--primary-color);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    width: 90%;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

/* En-tête */
h1 {
    color: var(--secondary-color);
}

/* Formulaire de filtre */
#encheres-filter {
    margin-bottom: 20px;
}


legend {
    color: var(--secondary-color);
}


input[type="text"],
select {
    width: 100%;
    padding: 15px;
    margin-bottom: 10px;
    border: 1px solid var(--primary-color);
    border-radius: 50px;
}
@media (min-width: 800px) {
    input[type="text"],
    select{
        width: 760px;
    }
}

.container-mot-cles{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#motCle{
    width: 92%;
}
@media (min-width:780px) {
    #motCle{
        width: 725px;
    }
}

.container-categorie{
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type="radio"],
input[type="checkbox"] {
    margin-right: 5px;
}

.filtre-supp{
    margin-bottom: 25px;
}
@media (min-width: 800px) {
    .filter-content{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}


hr{
    margin: 10px 0;

}

.input-achat{
    display: flex;
    margin-bottom: 5px;
    align-items: center;
}
@media(min-width: 800px){
    .input-achat{
        margin-right: 50px;
    }

}

.input-vente{
    display: flex;
    margin-bottom: 5px;
    align-items: center;
}
@media(min-width: 800px){
    .input-vente{
        margin-left: 50px;
    }
}

.container-filter-vente{
    margin: 20px 0;
}

button {
    background-color: var(--secondary-color);
    color: var(--background-color);
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: var(--primary-color);
}

/* Liste des enchères */

.titre-index{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 40px;
}
#encheres-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.container-card {
    background-color: white;
    border-radius: 25px;
    margin: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 90%;
    height: 350px;
}

.container-card ul {
    list-style: none;
    padding: 0;
}

.container-card li {
    margin-bottom: 10px;
}

.container-card a {
    color: var(--primary-color);
    text-decoration: none;
    font-weight: bold;
}

.container-card a:hover {
    text-decoration: underline;
}

.card-header{
    background-color: #2D1D38;
    margin: 0;
    padding: 12px 0;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    display: flex;
    justify-content: center;
}

.card-header span {
    color: var(--background-color);
    font-size: 10px;
}

.card-header p{
    color: var(--background-color);
    font-size: 10px;
}

.card-text{
    display: flex;
    flex-direction: column;
    height: 85%;
    justify-content: space-between;
}

.card-nom-article{
    font-size: 20px;
    font-weight: bolder;
    margin-top: 50px;
}

.card-text-info{
    display: flex;
    flex-direction: column;
}

.container-card {
    width: 300px;
    max-width: 300px;
}

.image-container-card {
    width: 100%;
    max-width: 500px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
@media (min-width: 800px) {
    .image-container-card{
        max-width: 600px;
    }
}

.image-card{
    width: 100%;
    height: auto;
    object-fit: cover;
}


/*Page Register*/

#idPseudo,#idNom,#idPrenom,#idTelephone,#idRue,#idCodePostal,#idVille,#motCle,#idNomArticle,#idPrixInit{
    width: 92%;
}
@media (min-width:780px) {
    #idPseudo,#idNom,#idPrenom,#idTelephone,#idRue,#idCodePostal,#idVille,#motCle,#idNomArticle,#idPrixInit{
        width: 725px;
    }
}

#idPassword, #idMail,#idDateDebut,#idDateFin,#idDescription{
    padding: 15px;
    margin-bottom: 10px;
    border: 1px solid var(--primary-color);
    border-radius: 50px;
    width: 92%;
}
@media (min-width:780px) {
    #idPassword, #idMail,#idDateDebut,#idDateFin,#idDescription{
        width: 725px;
    }
}

#idEnchere{
    padding: 15px;
    margin-bottom: 10px;
    border: 1px solid var(--primary-color);
    border-radius: 50px;
    width: 200px;
}
@media (min-width:780px) {
    #idEnchere{
        width: 200px;
    }
}


#idImage{
    padding: 15px;
    margin-bottom: 10px;
    border: 1px solid var(--primary-color);
    border-radius: 50px;
    width: 92%;
    background-color: white;
}
@media (min-width:780px) {
    #idImage{
        width: 725px;
    }
}

.container-form-user h2{
    margin: 25px 0;
}

.input-user{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*page my-profile*/
.view-profil{
    margin: 10px 0;
}

.profile-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-info{
    font-weight: bold;
    color: var(--secondary-color);
}

.container-profile{
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media(min-width: 780px){
    .container-profile{
        flex-direction: row;
        justify-content: space-evenly;
        width:100%;
    }
}

.container-user{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    margin-bottom: 10px;
}

.container-button{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

#idPoint{
    display: flex;
    width: 100%;
    justify-content: center;
}


/*page article*/

.container-article{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media(min-width: 780px){
    .container-article{
        flex-direction: row;
        justify-content: space-evenly;
    }

}

.image-container{
    width: 100%;
    max-width: 500px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-bottom: 20px;
}
@media (min-width: 800px) {
    .image-container{
        max-width: 600px;
    }
}

.image-article{
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 20px;
}

.container-form-enchere{
    display: flex;
    flex-direction: column;
}
.container-form-enchere label{
    margin: 10px 0 5px 0;
    font-weight: bolder;
}

.container-form-enchere input[number]{
    width: 200px;
}

.container-form-enchere button{
    margin-top: 0;
    margin-bottom: 10px;
}

.container-form-enchere{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.alert {
    color: red;
    margin: 10px 0;
}

