<!DOCTYPE html>

<!--  appel du fragment layout avec les paramètre -->
<html data-th-replace="~{layouts/layout :: frag-layout
						(title= ~{:: title},
						content= ~{::main} )}">

<!--  tire passé en paramètre -->
<title>Articles</title>

<!--  contenu passé en paramètre -->

<title>Nouvel Article</title>

<!--  contenu passé en paramètre -->
<main class="center-main">
    <div class="container">
        <h1 class="titre-index">Qu'allez-vous vendre aujourd'hui ? </h1>
        <form data-th-action="@{/add-article}" method="post" data-th-object="${articleVendu}"
              enctype="multipart/form-data">
            <div class="flex-outer">
                <input data-th-field="${utilisateur.no_utilisateur}" name="no_utilisateur" type="hidden">
                <div>
                    <div class="input-user">
                        <label for="idNomArticle">Nom de l'article</label>
                        <input data-th-field="*{nom_article}" id="idNomArticle" type="text"
                               placeholder="Nom de l'article">
                    </div>
                    <div class="input-user">
                        <label for="idDescription">Description</label>
                        <textarea data-th-field="*{description}" id="idDescription"
                                  placeholder="La description de votre article"></textarea>
                    </div>
                    <div class="input-user">
                        <label for="idCategorie">Categorie</label>
                        <select id="idCategorie" data-th-field="*{categorie.no_categorie}">
                            <option data-th-each="item : ${categories}"
                                    data-th-text="${item.libelle}"
                                    data-th-value="${item.no_categorie}"></option>
                        </select>
                    </div>
                    <div class="input-user">
                        <label for="idDateDebut">Debut de l'enchere</label>
                        <input data-th-field="*{date_debut_encheres}" id="idDateDebut" type="date">
                    </div>
                    <div class="input-user">
                        <label for="idDateFin">fin de l'enchere</label>
                        <input data-th-field="*{date_fin_encheres}" id="idDateFin" type="date">
                    </div>
                    <div class="input-user">
                        <label for="idPrixInit">Prix initial</label>
                        <input data-th-field="*{prix_initial}" id="idPrixInit" type="text" placeholder="Votre prenom">
                    </div>
                    <div class="input-user">
                        <label for="idImage">Ajouter une image</label>
                        <input type="file" id="idImage" name="image" accept="image/*">
                    </div>
                </div>
                <div class="container-form-user">
                    <h2>Retrait</h2>
                    <div class="input-user">
                        <label for="idRue">Rue</label>
                        <input data-th-field="${utilisateur.rue}" id="idRue" type="text" data-th-value="${retrait.rue}">
                    </div>
                    <div class="input-user">
                        <label for="idCodePostal">Code Postal</label>
                        <input data-th-field="${utilisateur.code_postal}" name="code_postal" id="idCodePostal"
                               type="text"
                               data-th-value="${retrait.code_postal}">
                    </div>
                    <div class="input-user">
                        <label for="idVille">Ville</label>
                        <input data-th-field="${utilisateur.ville}" id="idVille" type="text"
                               data-th-value="${retrait.ville}">
                    </div>
                </div>
                    <button type="submit">Vendre</button>
            </div>
        </form>
    </div>
</main>
</html>