<!DOCTYPE html>

<!--  appel du fragment layout avec les paramètre -->
<html data-th-replace="~{layouts/layout :: frag-layout
						(title= ~{:: title},
						content= ~{::main} )}">
<title>Login</title>

<main>
    <div class="container">
        <h1 class="titre-index">Espace administrateur</h1>
        <h2 class="titre-admin">Gestion des utilisateurs</h2>
        <div class="container-admin">
        <div class="admin-utilisateurs-container">
            <table>
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Pseudo</th>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Email</th>
                    <th>Téléphone</th>
                    <th>Rue</th>
                    <th>Code Postal</th>
                    <th>Ville</th>
                    <th>Crédit</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                    <tr data-th-each="item : ${utilisateurs}">
                        <td data-th-text="${item.no_utilisateur}"></td>
                        <td data-th-text="${item.pseudo}"></td>
                        <td data-th-text="${item.nom}"></td>
                        <td data-th-text="${item.prenom}"></td>
                        <td data-th-text="${item.email}"></td>
                        <td data-th-text="${item.telephone}"></td>
                        <td data-th-text="${item.rue}"></td>
                        <td data-th-text="${item.code_postal}"></td>
                        <td data-th-text="${item.ville}"></td>
                        <td data-th-text="${item.credit}"></td>
                        <td>
                            <button data-th-href="@{/profile/delete(id=${item.no_utilisateur})}">Supprimer utilisateur</button>
                            <button data-th-if="${item.active == 1 || item.active == true}" data-th-href="@{/desactivate-user(id=${item.no_utilisateur})}">Désactiver utilisateur</button>
                            <button data-th-if="${item.active == 0 || item.active == false}" data-th-href="@{/activate-user(id=${item.no_utilisateur})}">Activer utilisateur</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <h2 class="titre-admin">Gestion des categories</h2>
        <div class="admin-categories-container">
            <table>
                <thead>
                <tr>
                    <th>Identifiant catégorie</th>
                    <th>Libelle</th>
                </tr>
                </thead>
                <tbody>
                <tr data-th-each="item : ${categories}">
                    <td data-th-text="${item.no_categorie}"></td>
                    <td data-th-text="${item.libelle}"></td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>
</main>
</html>