<!DOCTYPE html>

<!--  appel du fragment layout avec les paramètre -->
<html data-th-replace="~{layouts/layout :: frag-layout
						(title= ~{:: title},
						content= ~{::main} )}">
<title>Login</title>

<main>
    <div class="container">
        <h1>Vérification de votre identifiant</h1>
        <form data-th-action="@{/forget-password/change-password}" method="post">
            <ul class="flex-outer">
                <li>
                    <label for="idUser">Identifiant</label>
                    <input name="username" id="idUser" type="text" placeholder="Adresse e-mail">
                </li>
                <li>
                    <label for="password1">Saisissez votre nouveau mot de passe</label>
                    <input name="password1" id="password1" type="text" placeholder="Nouveau mot de passe">
                </li>
                <li>
                    <label for="password2">Confirmez votre nouveau mot de passe</label>
                    <input name="password2" id="password2" type="text" placeholder="Nouveau mot de passe">
                </li>
                <li>
                    <button type="submit">Soumettre</button>
                </li>
            </ul>
        </form>
    </div>
</main>
</html>