<!DOCTYPE html>

<!--  appel du fragment layout avec les paramètre -->
<html data-th-replace="~{layouts/layout :: frag-layout
						(title= ~{:: title},
						content= ~{::main} )}">
<title>Login</title>

<main>
    <div class="container">
    <h1 class="titre-index">Je vous en pris, connectez vous</h1>
        <form data-th-action="@{/login}" method="post">
            <div>
                <div class="input-user">
                    <label for="idMail">Identifiant</label>
                    <input name="username" id="idMail" type="text" placeholder="Adresse e-mail">
                </div>
                <div class="input-user">
                    <label for="idPassword">Mot de passe</label>
                    <input name="password" id="idPassword" type="password" placeholder="Mot de passe">
                </div>
                <div th:if="${param.sessionExpired}">
                    Votre session a expiré
                </div>
                <div>
                    <button type="submit">Se connecter</button>
                </div>
                <div>
                    <a class="bouton" data-th-href="@{/register}">Pas de compte ? Je crée mon comte !</a>
                </div>
            </div>
        </form>
        <ul>
            <li>
                <a class="bouton" data-th-href="@{/forget-password}">J'ai oublié mon mot de passe</a>
            </li>
        </ul>
    </div>
</main>
</html>