<!DOCTYPE html>

<!--  appel du fragment layout avec les paramètre -->
<html data-th-replace="~{layouts/layout :: frag-layout
						(title= ~{:: title},
						content= ~{::main} )}">

<!--  tire passé en paramètre -->
<title>Accueil</title>

<!--  contenu passé en paramètre -->
<main>
    <div class="container">
        <h1>Liste des enchères</h1>
        <section id="encheres-filter">
            <form method="POST" data-th-action="@{/search-article}" data-th-object="${search}">
                <fieldset class="filter1">
                    <legend>Filtres</legend>
                    <label for="motCle">Mots clés</label>
                    <input type="text" id="motCle" data-th-field="*{motCle}">
                    <br>
                    <label for="categorie">Catégorie</label>
                    <select id="categorie" data-th-field="*{categorie}">
                        <option value="0"></option>
                        <option data-th-each="item : ${categories}"
                                data-th-text="${item.libelle}"
                                data-th-value="${item.no_categorie}"></option>
                    </select>
                </fieldset>
                <fieldset data-th-if="${#authorization.expression('isAuthenticated()')}" class="filter2">
                    <div>
                        <input type="radio" name="type" id="achat" value="achat">
                        <label for="achat">Achat</label>
                        <br>
                        <input class="achat" type="checkbox" id="encheresOuvertes" name="encheresOuvertes" data-th-checked="*{encheresOuvertes}">
                        <label for="encheresOuvertes"> Enchères ouvertes</label><br>
                        <input class="achat" type="checkbox" id="mesEncheresEnCours" name="mesEncheresEnCours" data-th-checked="*{mesEncheresEnCours}">
                        <label for="mesEncheresEnCours"> Mes enchères en cours</label><br>
                        <input class="achat" type="checkbox" id="mesEncheresRemportees" name="mesEncheresRemportees" data-th-checked="*{mesEncheresRemportees}">
                        <label for="mesEncheresRemportees"> Mes enchères remportées</label><br>
                    </div>
                    <div>
                        <input type="radio" name="type" id="vente" value="vente">
                        <label for="vente">Mes ventes</label>
                        <br>
                        <input class="vente" type="checkbox" id="mesVentesEnCours" name="mesVentesEnCours" data-th-checked="*{mesVentesEnCours}">
                        <label for="mesVentesEnCours">Mes ventes en cours</label><br>
                        <input class="vente" type="checkbox" id="ventesNonDebutees" name="ventesNonDebutees" data-th-checked="*{ventesNonDebutees}">
                        <label for="ventesNonDebutees">Ventes non débutées</label><br>
                        <input class="vente" type="checkbox" id="venteTerminee" name="venteTerminee" data-th-checked="*{venteTerminee}">
                        <label for="venteTerminee">Ventes terminées</label><br>
                    </div>
                </fieldset>
                <button type="submit">Rechercher</button>
            </form>

        </section>
        <section id="encheres-list">
            <div class = "container-card" data-th-each="item : ${articles}">
                <ul class="flex-outer">
                    <li><a data-th-text="${item.nom_article}" th:href="@{/article(id=${item.no_article})}"></a></li>
                    <li>Prix :&nbsp; <span data-th-text="${item.prix_initial}"></span>&nbsp; points</li>
                    <li>Fin de l'enchère :&nbsp; <span data-th-text="${item.getDate_fin_encheres()}"></span></li>
                    <li>Vendeur :&nbsp; <span data-th-text="${item.utilisateur.pseudo}"></span></li>
                </ul>
            </div>
        </section>
    </div>
</main>

</html>